<%= form_for @post, html: {multipart: true} do |f| %>
    <% if @post.errors.any? %>
        <div class="errors">
            <h2><%= pluralize(@post.errors.count, "error")%> prevented this post from being saved:</h2>
            <ul>
                <% @post.errors.full_messages.each do |msg| %>
                    <li> <%= msg %> </li>
                <% end %>
            </ul> 
        </div>

    <% end%>

    <%=f.label "Pictures"%><br />
    <div class="picture-upload">
        <%=file_field_tag "images[]", type: :file, multiple: true %>
        <div class="gallery-thumbs">
        <% @post.pictures.each do |picture| %>
        <div class="thumb">
            <%= image_tag picture.image.url %><br />
            <%= link_to "Delete", post_picture_path(@post, picture), method: :delete %>
        </div>
        <% end %>
        </div>
        <div class="picture-control">
        <a href="#" class="insert-snippet button blue-hover-button">Insert code snippet</a>
        </div>
    </div>
 

    <%=f.label "Title"%><br />
    <%=f.text_field :title%><br />
    <%=f.label "Author"%><br />
    <%=f.text_field :author%><br />

    <br />
    <%=f.label "Body"%><br />
    <%=f.text_area :body%><br />
    <br />
    <%=f.submit "Save post", class: "button blue-hover-button"%>
<%end%>

