<%= form_for @post, html: {multipart: true} do |f| %>
    <% if @post.errors.any? %>
        <div class="errors">
            <h2><%= pluralize(@post.errors.count, "error")%> prevented this post from being saved:</h2>
            <ul>
                <% @post.errors.full_messages.each do |msg| %>
                    <li> <%= msg %> </li>
                <% end %>
            </ul> 
        </div>

    <% end%>
    <%=f.label "Title"%><br />
    <%=f.text_field :title%><br />
    <br />
    <%=f.label "Author"%><br />
    <%=f.text_field :author%><br />
    <br />
    <%=f.label "Body"%><br />
    <%=f.text_area :body%><br />
    <br />
   <%=f.label "Synopsis"%><br />
    <%=f.text_area :synopsis%><br />
    <br />
    <%=f.label "Pictures"%><br />
    <%=file_field_tag "images[]", type: :file, multiple: true %>
    <a href="#" class="insert-snippet button blue-hover-button">Insert code snippet</a>
    <div class="gallery-thumbs">
    <% @post.pictures.each do |picture| %>
    <div class="thumb">
        <%= image_tag picture.image.url %><br />
        <%= link_to "Delete", post_picture_path(@post, picture), method: :delete %>
    </div>
    <% end %>
    </div>
    <br />
    <%=f.label "Thumbnail"%><br />
    <%=f.file_field :thumb%><br />
    <div class="thumb">
        <% if @post.thumb_url %>
            <%= image_tag @post.thumb_url %><br />
        <% end %>
    </div>
    <br />
    <br />
    <div>
        <%=f.submit "Save post!", class: "button blue-hover-button"%>
    </div>
<%end%>

