<div id=<%=dom_id(post)%> class="tile"> 
    <%= link_to post_path(post) do %>
    <div class="intrisic-ratio">
        <% if post.thumb_url %>
        <div style="background-image: url(<%=post.thumb_url%>)">
        </div>
        <%end%>
    </div>
    <h5 class="date-author"><%= post.created_at.strftime("%B %d, %Y")%></h5>
    <h2><%= post.title %></h2>
    <p><%= post.synopsis  %></p>
    <% if user_signed_in? %>
        <div class="clearfix">
        <%= link_to "Edit", edit_post_path(post), class: "button blue-hover-button" %>
        <%= button_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?"  }, class: "button tomato-hover-button" %>
        </div>
    <% end %>
    <% end %> 
</div>

