<% @posts.each do |post| %>
    <div id=<%=dom_id(post)%> class="post_wrapper group"> 
        <h2 class="title">
          <%= post.title %>
        </h2>
         
        <p class="date">
          <%=post.created_at.strftime("%B %d, %Y")%> 
        </p>
        
        <%= link_to "Read on", post_path(post), class: "read-on-button"%>
        <%= button_to "Delete post", post_path(post), method: :delete, class: "delete-button", data: {confirm: "Are you sure?"} %>

    </div>
<%end%>
