<div class="navbar"> 
    <a href="#top"><h1>Playbirdies</h1></a>
    <ul>
        <li><a href="mailto:buysse.simon@gmail.com">Contact us</a></li>
        <li><a href="https://instagram.com/simon.hashtag/">Instagram</a></li>
        <li><%= link_to "Playbirdies 101", about_path %></li>
        <li><a href="index.html#grid">Blog</a></li>
    </ul>
</div>
<div id="top" class="hero-image">
    <div class="motivational">
        <h1>Not all those who wander are lost.</h1>
        <h2>~ Tolkien</h2>
    </div>
</div>
<div id="grid" data-columns class="grid">
    <%= render @posts %>
</div>

<div class="clearfix">
    <% flash.each do |type, message|%>
    <div class="alert flash <%=type%>">
        <%= message %>
    </div>
    <%end%>
</div>  

<%= javascript_include_tag 'exclusive/salvattore.min' %>
<%= javascript_include_tag 'exclusive/scroll' %>
