<div class="article">
    <% if user_signed_in? %>
        <div class="top-buttons">
        <%= link_to "Edit", edit_post_path(@post), class: "button blue-hover-button" %>
        <%= button_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?"  }, class: "button tomato-hover-button" %>
        </div>
    <% end %>
    
    <h1><%= @post.title %> </h1>
    <div class="article-info">
        <h5 class="date-author">Submitted <%= time_ago_in_words(@post.created_at)%> ago by <%= @post.author %></h5>
        <h5 class="likes-icon icon-shaka">37</h5>
        <a href="#comments" class="scroll"><h5 class="icon-chat comments-icon"><%= @post.comments.count %></h5></a>
    </div>
    <%= markdown(@post.body) %>
<h3>Testjen</h3>
</div>
<div class="comments clearfix" id="comments">
    <h1><%= pluralize(@post.comments.count, "comment") %></h1>
    <%= render @post.comments.persisted %>
    <h3>Add a comment:</h3>
    <%= render "comments/form" %>
</div>
