<div class="article">
    <% if user_signed_in? %>
        <div class="top-buttons">
        <%= link_to "Edit", edit_post_path(@post), class: "button blue-hover-button" %>
        <%= button_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?"  }, class: "button tomato-hover-button" %>
        </div>
    <% end %>
    
    <h1><%= @post.title %> </h1>
    <div class="article-info">
        <h5 class="date-author">Submitted <%= time_ago_in_words(@post.created_at)%> ago by <%= @post.author %></h5>
        <div class="info-symbols">
            <%#<h5 class="likes-icon icon-shaka">37</h5>%>
            <a href="#comments" class="scroll"><h5 class="icon-chat comments-icon"><%= @post.comments.count %></h5></a>
        </div>
    </div>
    <% if @post.first_body.size > 0 %>
        <%= markdown(@post.first_body) %>
    <% end %>
    <div class='banner'>
    <a href='#' class='unslider-arrow prev icon-chevron-with-circle-left'></a> 
    <a href='#' class='unslider-arrow next icon-chevron-with-circle-right'></a> 
        <ul>
            <% for picture in @post.pictures do %>
                <li><%= cl_image_tag(picture.image, :width => :auto, :responsive_placeholder => "blank") %></li>
            <% end %>
        </ul>
    </div>
    <div style="overflow: hidden; height: 0px; width: 0px;">&nbsp;</div>;
    <% if @post.second_body.size > 0 %>
        <%= markdown(@post.second_body) %>
    <% end %>
</div>
<div class="comments clearfix" id="comments">
    <h1><%= pluralize(@post.comments.count, "comment") %></h1>
    <%= render @post.comments.persisted %>
    <h3>Add a comment</h3>
    <%= render "comments/form" %>
</div>
