<div id="post_content">
    <h1 class="title">
      <%= @post.title %>
    </h1>
     
    <p class="date">
      Submitted <%= time_ago_in_words(@post.created_at) %> Ago
    </p>
     
    <p class="body">
      <%= @post.body %>
    </p>
    <%= link_to "Edit post", edit_post_path(@post), class: "edit_button" %>
    <%= button_to "Delete post", post_path(@post), method: :delete, class: "delete_button", data: {confirm: "Are you sure?"} %>
</div>
