<!DOCTYPE html>
<html>
<head>
    <title>Stories about exploration, working abroad and cheese.</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400italic' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale=1.0"></meta>

</head>
<body>

<div class="container">

	<header class="slide">     <!--	Add "slideRight" class to items that move right when viewing Nav Drawer  -->
		<ul id="navToggle" class="burger slide">    <!--	Add "slideRight" class to items that move right when viewing Nav Drawer  -->
			<li></li><li></li><li></li>
		</ul>
		<h1>Trunk.js</h1>
	</header>
	<nav class="slide">
		<ul>
            <li><a href="mailto:buysse.simon@gmail.com">Contact us</a></li>
            <li><a href="https://instagram.com/simon.hashtag/">Instagram</a></li>
            <li><%= link_to "Playbirdies 101", about_path %></li>
            <li><%= link_to "Stories", root_path(anchor: "anchor-grid"), class: "scroll" %></li>
        </ul>
	</nav>
	
	<div class="content slide">     <!--	Add "slideRight" class to items that move right when viewing Nav Drawer  -->
       <div class="page-content">
        <%= yield %>
        </div>
    </div>
</div>
</body>
</html>
